<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="space.mapper.EmpMapper">
<!--    namespace?????,?????????,mybatis????????????sql??
        id???resultMap???,type????????
        property???????,column?????????
        -->

<!--    ?????-->
    <resultMap type="employee" id="EmpResult">
<!--        ????-->
        <id property ="empid" column="Empid"/>
<!--        ??????-->
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="branch" column="branch"/>
        <result property="email" column="email"/>
    </resultMap>

    <insert id="insertEmp" parameterType="employee" keyProperty="id"
            useGeneratedKeys="true">
        <selectKey resultType="int" keyColumn="Empid" order="AFTER" keyProperty="id">
            select LAST_INSERT_ID()
        </selectKey>
        INSERT into employee(Empid,name,phone,branch,email)
        values(#{empid},#{name},#{phone},#{branch},#{email})
    </insert>



</mapper>
