<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="space.mapper.UserMapper">
    <resultMap type="User" id="UserResult">
        <id property="userId" column="user_id"/>
        <id property="emailId" column="email_id"/>
        <id property="password" column="password"/>
        <id property="firstName" column="first_name"/>
        <id property="lastName" column="last_name"/>
    </resultMap>
    <insert id="insertUser" parameterType="User"
            useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO USER(email_id,password,first_name,last_name)
        values(#{emailId},#{password},#{firstName},#{lastName})

    </insert>

</mapper>
